body {
    background-color: #263238;
}
h1 {
    color: #FFFFFF;
}

/*vueの勉強用
.error {
    color: red;
}
.flip-list-move {
    transition: transform .5s;
}
.alert {
    background-color: #fcc;
    padding:  10px;
    border: 1px solid #f33;
}
*/